@import "https://unpkg.com/open-props/easings.min.css";

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: none;
  padding: 1rem;
  color: (--icon-fill);
  align-items: center;
  justify-content: center;
}

/* THEME TOGGLE */
.theme-toggle {
  background: none;
  border: none;
  padding: 0;
  inline-size: var(--size);
  block-size: var(--size);
  padding: 0;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  touch-action: manipulation;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 300px;

  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;

  & > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }
}
.sun-and-moon {
  & > :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
  }

  & > :is(.moon, .sun) {
    fill: var(--icon-fill);

    .theme-toggle:is(:hover, :focus-visible) > & {
      fill: var(--icon-fill-hover);
    }
  }

  & > .sun-beams {
    stroke: var(--icon-fill);
    stroke-width: 2px;

    .theme-toggle:is(:hover, :focus-visible) & {
      stroke: var(--icon-fill-hover);
    }
  }

  [data-theme="dark"] & {
    & > .sun {
      transform: scale(1.75);
    }

    & > .sun-beams {
      opacity: 0;
    }

    & > .moon > circle {
      transform: translateX(-7px);

      @supports (cx: 1px) {
        transform: translateX(0);
        cx: 17px;
      }
    }
  }

  @media (--motionOK) {
    & > .sun {
      transition: transform 0.5s var(--ease-elastic-3);
    }

    & > .sun-beams {
      transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
    }

    & .moon > circle {
      transition: transform 0.25s var(--ease-out-5);

      @supports (cx: 1px) {
        transition: cx 0.25s var(--ease-out-5);
      }
    }

    [data-theme="dark"] & {
      & > .sun {
        transform: scale(1.75);
        transition-timing-function: var(--ease-3);
        transition-duration: 0.25s;
      }

      & > .sun-beams {
        transform: rotateZ(-25deg);
        transition-duration: 0.15s;
      }

      & > .moon > circle {
        transition-delay: 0.25s;
        transition-duration: 0.5s;
      }
    }
  }
}

/* NAV */
nav {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
  background-image: linear-gradient(163deg, #f890e7 0%, #0bd3d3 100%);
  padding: 1px;
  border-radius: 30em;
}

nav ul li a {
  background-color: var(--form);
  color: var(--icon-fill);
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
  border-radius: 30em;
}
nav ul li a:hover {
  background-color: var(--button);
}

.navbar-user {
  padding: 0.5rem 1rem;
  display: flex;
  position: absolute;
  text-decoration: none;
  border-radius: 30em;
  top: 0;
  right: 0;
  margin-right: 60px;
  margin-top: 30px;
  width: 200px;
  background: none;
  border: none;
}
