.main-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 60px;
  padding: 20px;
  background-color: transparent;
  border: none;
  width: calc(100vw - 300px);
  height: calc(100vh - 60px);
  /* Ensure no margin */
}
