/*Login Form*/
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 2em;
  background-color: var(--form);
  border-radius: 25px;
  position: relative;
  transition: 0.4s ease-in-out;
  color: var(--text);
  border: var(--border);
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: var(--text);
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: var(--accent);
}

#login {
  margin-bottom: 25px;
}

.header {
  text-align: center;
  font-size: 14px;
}

.signin {
  font-size: 14px;
}

.signin-btn {
  font-size: 14px;
  text-decoration: underline;
  color: var(--accent2);
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--form);
}
.signin-btn:hover {
  text-decoration: underline;
  color: var(--accent);
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 5px;
  border: var(--border);
  outline: none;
  color: white;
  background-color: var(--button);
}

.field-icon {
  height: 1.5em;
  width: 2em;
  color: var(--text);
}

.show-password {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.input-field {
  background-color: var(--button);
  color: #fff;
  width: 100%;
  padding: 10px;
  outline: 0;
  border: none;
  font-size: 0.9em;
}

.field:hover {
  border: 1px solid var(--borderHover);
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
  gap: 10px;
}

.button4 {
  padding: 0.5em;
  font-size: 18px;
  border: var(--border);
  outline: none;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  background-color: var(--button);
  color: var(--text);
}

.button4:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.button5 {
  padding: 0.5em;
  font-size: 18px;
}

.login-message {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.form-success {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2em;
  background-color: var(--form);
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  color: var(--text);
  justify-content: center;
  align-items: center;
}

#success-heading {
  font-weight: bold;
  background: linear-gradient(90deg, #f890e7, #0bd3d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.form label {
  position: relative;
}

.form label .input-field {
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  color: var(--text);
  width: 100%;
}

#name-field {
  border: var(--border);
}

#name-field:hover {
  border: 1px solid var(--borderHover);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
