@import "variables.css";
@import "../components/Login/login.css";
@import "../components/Header/header.css";
@import "../components/Inventory/inventory.css";
@import "../components/Inventory/drawer.css";
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  color-scheme: light;

  &[data-theme="dark"] {
    color-scheme: dark;

    @supports not (color-scheme: dark) {
      background: #111;
    }
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  display: grid;
  place-content: center;
  height: 100vh;
  margin: 0;
  font-family: var(--fira);
  font-size: 16px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
