.drawer {
  background-color: var(--form);
}

.drawerHeaderContent {
  display: flex;
  flex-direction: row; /* Ensure space between title and close button */
}

.drawerHeader {
  background-color: var(--form);
  display: row;
  justify-content: space-between;
  align-items: center;
}

.drawerTitle {
  color: var(--text);
  font-size: 25px;
  margin-left: auto;
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.grid {
  width: 100%;
}

.gridColumn {
  display: grid;
  gap: 20px;
}

.input {
  background-color: var(--bg);
  border-color: var(--borderColor);
  color: var(--text);
  &:hover {
    border-color: var(--accent2);
  }
  &:focus-within {
    border-color: var(--accent);
  }
}

.smallSelect {
  font-weight: 500;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 92;
  border: "none";
  margin-right: "1px";
  background-color: "var(--form)";
  color: "var(--text)";
  border-left: "1px solid var(--borderColor)";
}
