.drawer-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.drawer-field {
  flex: 1;
  margin-right: 10px;
}

.drawer-field:last-child {
  margin-right: 0;
}

.drawer-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  background-color: var(--button);
  color: var(--text);
}

.drawer-input::placeholder {
  color: var(--text);
}

.form-section {
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-section h3 {
  margin-bottom: 10px;
  color: var(--text);
}
