.inventory-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
  padding: 20px;
  border: var(--border);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--form);
}

.inventory-header-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  border-bottom: var(--border);
  justify-content: space-between;
}

.inventory-header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
}

.inventory-header-container h1 {
  margin-right: 20px;
}

.inventory-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.inventory-filters {
  padding: 0;
  display: flex;
  gap: 10px;
}

.inventory-table {
  display: flex;
  flex-direction: column;
  border-top: var(--border);
}

.inventory-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  flex-direction: row;
  border-bottom: var(--border);
  border-top: var(--border);
  padding: 20px;
  justify-content: space-between;
}

/*ADD FORM*/
